.button-class {
    font-size: 30px;
}

.table-class {
    width: 100%;
    margin-top: 10px;

}

#content {
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .left-content
    {
        width: 100%;
    }
    .right-content
    {
        width: 100%;
    }
}
@media only screen and (min-width: 601px) {
    .left-content
    {
        width: 50%;
    }
    .right-content
    {
        width: 50%;
    }
}

body {
    background-color: powderblue;
}